<div class="login-screen">
    <div class="container">
        <div class="heading pt-4">
            <h1>LOG IN</h1>
        </div>
    
        <form class="pt-4" [formGroup]="programForm">
            <div class="form-group">
              <label>Email address</label>
              <input type="email" class="form-control" formControlName="email">
              <small class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
    
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" formControlName="password">
            </div>
    
            <div class="row">
                <div class="col-6">
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">Remember Me</label>
                    </div>
                </div>
    
                <div class="col-6">
                    <div class="forget-password float-right">
                        <a routerLink="/auth/forget">Forgot Password ?</a>
                    </div>
                </div>
            </div>

            <a *ngIf="!loader" (click)="login()" class="rounded-btn w-100 mt-3">Log In</a>

            <div *ngIf="loader" class="loader">
				<img class="loading" src={{loadingImg}} />
			</div>

            <div class="account-text pt-3 text-center">
                <span>Don't hane an Account?</span>
                <a routerLink="/auth/signup">Sign Up</a> 
            </div>
        </form>
    </div>
</div>