@import '/src/styles.scss';

.login-screen .forget-password a {
    color: #212529;
}

.login-screen .heading h1{
    font-size: 25px;
    font-weight: 600;
    color: black;
    margin-bottom: 0px;
}