<div class="package-details-screen">
    <div class="container">
        <div class="row">
            <div class="car-area" style="background: url({{data.image}})"></div>
        </div>
    </div>

        <div class="content-card mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 pt-4">
                        <div class="row">
                            <div class="col-8">
                                <h1 class="heading">{{data.name}}</h1>
                            </div>
                            <div class="col-4">
                                <p class="category pt-2 text-right font-italic text-black-50">{{data.category[0].name}}</p>
                            </div>
                        </div>
                        <p class="price text-black-50 pt-2">Rs.{{data.price}}</p>

                        <div class="items pt-3">
                            <span class="badge badge-pill bg-light">Interior Vaccum</span>
                            <span class="badge badge-pill bg-light">Tire Dressing</span>
                            <span class="badge badge-pill bg-light">Clay Bar</span>
                            <span class="badge badge-pill bg-light">Window Cleaning</span>
                            <span class="badge badge-pill bg-light">Chrome Shining</span>
                            <span class="badge badge-pill bg-light">Interior Detail</span>
                            <span class="badge badge-pill bg-light">Chairs Cleaning</span>
                        </div>
                        
                        <a routerLink="/service-request/new-service-request" class="rounded-btn w-100 mt-3">Select</a>
                    </div>
                </div>
            </div>
        </div>
</div>