<div class="add-detailer-screen">
    <div class="container">
        <div class="heading pt-4">
            <h1 *ngIf="!data">Add Detailer</h1>
            <h1 *ngIf="data">Update Detailer</h1>
        </div>

        <div class="image" *ngIf="data">
            <img class="w-50 d-block m-auto pt-4" src={{data.image}} />
        </div>
    
        <form class="pt-4" [formGroup]="programForm">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="Name" formControlName="name">
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" placeholder="Email" formControlName="email">
            </div>

            <div class="form-group">
                <label>Contact</label>
                <input type="number" class="form-control" placeholder="Contact" formControlName="contact">
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="text" class="form-control" placeholder="Password" formControlName="password">
            </div>

            <a *ngIf="!data" class="rounded-btn w-100 mt-4" (click)="addDetailer()">Add Detailer</a>
            <a *ngIf="data" class="rounded-btn w-100 mt-4" (click)="updateDetailer()">Update Detailer</a>

        </form>
    </div>
</div>