$default: linear-gradient(60deg, #29323c 0%, #485563 100%);

$darkDefault: #29323c;
$lightDefault: #485563;

$blue: #4481eb;
$lightBlue: #04befe;

$orange: #d93b45;
$white: #ffffff;
$black: #000000;
$darkGray: #333333;