// $default: linear-gradient(to top, #4481eb 0%, #04befe 100%);
$default: linear-gradient(60deg, #29323c 0%, #485563 100%);

$darkDefault: #29323c;
$lightDefault: #485563;

$blue: #4481eb;
$green: #8BC34A;
$lightBlue: #04befe;
$lightGray: #f5f5f5;

$orange: #d93b45;
$white: #ffffff;
$black: #000000;
$darkGray: #333333;

$gradient-1: linear-gradient(to right, #fc466b, #3f5efb);
$gradient-2: linear-gradient(to right, #fc4a1a, #f7b733);
$gradient-3: linear-gradient(to right, #ff512f, #dd2476);
$gradient-4: linear-gradient(to right, #43cea2, #185a9d);
$gradient-5: linear-gradient(to right, #00c6ff, #0072ff);

.bg-gradient { background: $default; }
.bg-gradient-1 { background: $gradient-1; }
.bg-gradient-2 { background: $gradient-2; }
.bg-gradient-3 { background: $gradient-3; }
.bg-gradient-4 { background: $gradient-4; }
.bg-gradient-5 { background: $gradient-5; }
