<section>
    <div class="container">
        <h3 class="heading">Categories</h3>
    </div>
    <div class="scrollmenu">
        <div class="item">
            <div class="image-container">
                <img class="large" src="http://www.toyotaairport.com/cars/toyota-corolla/1.png" alt="Category">
            </div>
            <p>Mini Size</p>
        </div>
        <div class="item">
            <div class="image-container">
                <img class="large" src="http://www.toyotaairport.com/cars/toyota-corolla/1.png" alt="Category">
            </div>
            <p>Compact Suv</p>
        </div>
        <div class="item">
            <div class="image-container">
                <img class="large" src="http://www.toyotaairport.com/cars/toyota-corolla/2.png" alt="Category">
            </div>
            <p>Standard Suv</p>
        </div>
        <div class="item">
            <div class="image-container">
                <img class="large" src="http://www.toyotaairport.com/cars/toyota-corolla/1.png" alt="Category">
            </div>
            <p>Compact Car</p>
        </div>
        <div class="item">
            <div class="image-container">
                <img class="large" src="http://www.toyotaairport.com/cars/toyota-corolla/2.png" alt="Category">
            </div>
            <p>Mini Van</p>
        </div>
    </div>
</section>