<div class="header py-3">
    <div class="container">
        <div class="toggleContainer" (click)="toggleMenu()" [ngClass]="{'change': toggleButton}" *ngIf="!backBtnState">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>

        <div class="back-btn" *ngIf="backBtnState">
            <a (click)="back()">
                <i class="fas fa-chevron-left"></i>
            </a>
        </div>

        <div class="right-btn" *ngIf="loginStatus">
            <a (click)="logout()"><i class="fas fa-sign-out-alt"></i></a>>
        </div>
        <div class="right-btn" *ngIf="!loginStatus">
            <a routerLink="/auth/login"><i class="fas fa-sign-in-alt"></i></a>>
        </div>
    </div>
</div>
<!-- *ngIf="loginStatus" -->
<div class="sidebar side" [ngClass]="{'show': sidebar}" *ngIf="loginStatus">
    
    <ul>
        <li *ngIf="loginStatus">
            <div class="profile container">
                <div class="row">
                    <div class="col-3 px-0">
                        <img src={{userData.image}} alt="user" />
                    </div>
                    <div class="col-9 px-0">
                        <p class="text-capitalize pt-2 mb-0">{{userData.name}}</p>
                        <small class="text-white-50">{{userData.email}}</small>
                    </div>
                </div>
            </div>
        </li>
        <li *ngIf="userType == 'admin'">
            <a (click)="routeTo('/admin/all-detailers')">
                All Detailers
            </a>
        </li>
        <li *ngIf="userType == 'admin'">
            <a (click)="routeTo('/admin/add-detailer')">
                Add Detailer
            </a>
        </li>
        <li *ngIf="userType == 'admin'">
            <a (click)="routeTo('/admin/all-categories')">
                All Categories
            </a>
        </li>
        <li *ngIf="userType == 'admin'">
            <a (click)="routeTo('/admin/add-category')">
                Add Category
            </a>
        </li>
        <li *ngIf="userType == 'admin'">
            <a (click)="routeTo('/admin/all-packages')">
                All Packages
            </a>
        </li>
        <li *ngIf="userType == 'admin'">
            <a (click)="routeTo('/admin/add-package')">
                Add Package
            </a>
        </li>
        <li>
            <a (click)="routeTo('/homepage')">
                Home
            </a>
        </li>
        <li>
            <a (click)="routeTo('/service-request')">
                Service Requests
            </a>
        </li>
        <li>
            <a (click)="routeTo('/packages')">
                Packages
            </a>
        </li>
        <li>
            <a (click)="routeTo('/profile')">
                Profile
            </a>
        </li>
        
        <div class="bottom-thing">
            <a href="tel:03312737076"><i class="fas fa-question-circle"></i> Need Help ?</a>
        </div>
    </ul>
</div>


<div class="fade-area"></div>