<div class="new-service-request-screen">
    <div class="container">
        <div class="heading pt-4">
            <h1>New Service Request</h1>
        </div>
    
        <form class="py-4" [formGroup]="programForm">
            <div *ngIf="step == 1">
                <div class="form-group">
                    <label>Full Name</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St, Road" formControlName="fullName" readonly />
                </div>
    
                <div class="form-group">
                    <label>Mobile#</label>
                    <input type="number" class="form-control" id="inputAddress" placeholder="1234 Main St, Road" formControlName="mobile" readonly />
                </div>
    
                <div class="form-group">
                    <label>Car Location</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St, Road" formControlName="location" />
                </div>

                <a class="rounded-btn w-100 mt-4" (click)="next()">Next</a>
            </div>
              
            <div *ngIf="step == 2">
                <div class="form-group pt-1">
                    <app-slider (selectCategory)="getCategory($event)"></app-slider>
                </div>
    
                <div class="form-group pt-1">
                    <app-all-packages [selectable]="true" (selectAnyPackage)="getPackage($event)"></app-all-packages>
                </div>
        
                <div class="form-group pt-1">
                    <label>Date & Time</label>
                    <input type="datetime-local" class="form-control" id="date" name="date" formControlName="datetime" />
                </div>
                
                <div class="form-group pt-1">
                    <label>Payment</label>
                    <select class="custom-select form-control" formControlName="payment">
                        <option selected>Select Payment</option>
                        <option value="cash">Cash Payment</option>
                    </select>
                </div>

                <a class="rounded-btn w-100 mt-4" (click)="back()">Back</a>
                <a class="rounded-btn w-100 mt-2" (click)="serviceRequest()">Create Service Request</a>
            </div>

        </form>
    </div>
</div>