@import '/src/styles.scss';

.forget-screen .heading h1{
    font-size: 18px;
    color: $lightDefault;
    margin-bottom: 0px;
}

.forget-screen .heading p{
    font-size: 14px;
    color: slategray;
    margin-bottom: 0px;
}