<div class="forget-screen">
    <div class="container">
        <div class="heading pt-4">
            <h1>FORGET PASSWORD ?</h1>
            <p class="pt-2">Enter the Email address associated with your account. </p>
        </div>

        <form class="pt-4">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4">
                </div>
            </div>

            <a href="#" class="rounded-btn w-100 mt-3">Reset Password</a>
        </form>
    </div>
</div>