<div class="forget-screen">
    <div class="heading">
        <h1>FORGET PASSWORD ?</h1>
        <p class="pt-3">Enter the Email address associated with your account. </p>
    </div>

    <form class="pt-5">
        <div class="form-row">
            <div class="form-group col-md-6">
				<label for="inputEmail4">Email</label>
				<input type="email" class="form-control" id="inputEmail4">
			</div>
          </div>

        <button type="submit" class="btn btn-primary w-100 mt-2">Reset Password</button>
	  </form>
</div>