<div class="all-packages-screen">
    <div class="container">
        <div class="heading pt-4">
			<h1>All Packages</h1>
        </div>

        <!-- <div class="packages-cards pb-5" *ngIf="data.length > 0">
            <div *ngFor="let item of data">
                <div class="card mt-4">
                    <img class="card-img-top" src={{item.image}}>
                    <div class="card-body">
                        <h5 class="package">{{item.name}}</h5>
                        <p class="price">Rs. {{item.price}}</p>
                        <div class="row pt-3">
                            <div class="col-6">
                                <p class="category text-muted">{{item.category}}</p>
                            </div>
                            <div class="col-6">
                                <div class="icons text-right">
                                    <a routerLink="/admin/add-package"><i class="fas fa-eye"></i></a>
                                    <a routerLink="/admin/add-package"><i class="px-4 fas fa-pencil-alt"></i></a>
                                    <a><i class="fas fa-trash-alt"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="packages-cards pb-5" *ngIf="data.length > 0">
            <div *ngFor="let item of data">
                <div class="card mt-3">
                    <div class="row">
                        <div class="col-4">
                            <img class="card-img-top" src={{item.image}}>
                        </div>
                        <div class="col-8 pl-0">
                            <div class="content py-2">
                                <h5 class="package">{{item.name}}</h5>
                                <p class="price text-muted">Rs. {{item.price}}</p>
                                
                                <div class="row">
                                    <div class="col-6">
                                        <small class="text-muted">{{item.category[0].name}}</small>
                                    </div>
                                    <div class="col-6 icons">
                                        <a routerLink="/admin/add-package" [state]="{ data: item}" (click)="backEnabled()"><i class="px-4 fas fa-pencil-alt"></i></a>
                                        <a (click)="deletePackage(item.id)"><i class="fas fa-trash-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center pt-5" *ngIf="data.length == 0 && !somethingWrong">
            <img class="content-loading" src="assets/img/content-loading.gif" alt="Loading ..." />
        </div>

        <div class="text-center pt-5" *ngIf="data.length == 0 && somethingWrong">
            <img class="no-data" src="assets/img/no-data.png" alt="No Data" />
            <a (click)="getPackages()" class="rounded-btn w-100 mt-4">Try Again</a>
        </div>

    </div>
</div>