<div class="all-packages-screen">
    <div class="container">
        <div class="heading pt-4">
			<h1>All Packages</h1>
        </div>

        <div class="packages-cards">
            <div class="card mt-4">
                <img class="card-img-top" src="../../../../assets/img/3.jpg">
                <div class="card-body">
                    <h5 class="package">Bronze Package</h5>
                    <p class="price">Rs.1500</p>
                    <div class="row pt-3">
                        <div class="col-6">
                            <p class="category text-muted">Standard Suv</p>
                        </div>
                        <div class="col-6">
                            <div class="icons text-right">
                                <a routerLink="/admin/add-package"><i class="fas fa-eye"></i></a>
                                <a routerLink="/admin/add-package"><i class="px-4 fas fa-pencil-alt"></i></a>
                                <a><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-4">
                <img class="card-img-top" src="../../../../assets/img/c.png">
                <div class="card-body">
                    <h5 class="package">Silver Package</h5>
                    <p class="price">Rs.2500</p>
                    <div class="row pt-3">
                        <div class="col-6">
                            <p class="category text-muted">Compact Suv</p>
                        </div>
                        <div class="col-6">
                            <div class="icons text-right">
                                <a routerLink="/admin/add-package"><i class="fas fa-eye"></i></a>
                                <a routerLink="/admin/add-package"><i class="px-4 fas fa-pencil-alt"></i></a>
                                <a><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-4">
                <img class="card-img-top" src="../../../../assets/img/5.png">
                <div class="card-body">
                    <h5 class="package">Gold Package</h5>
                    <p class="price">Rs.3500</p>
                    <div class="row pt-3">
                        <div class="col-6">
                            <p class="category text-muted">Compact Car</p>
                        </div>
                        <div class="col-6">
                            <div class="icons text-right">
                                <a routerLink="/admin/add-package"><i class="fas fa-eye"></i></a>
                                <a routerLink="/admin/add-package"><i class="px-4 fas fa-pencil-alt"></i></a>
                                <a><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-4">
                <img class="card-img-top" src="../../../../assets/img/4.png">
                <div class="card-body">
                    <h5 class="package">Platinum Package</h5>
                    <p class="price">Rs.5000</p>
                    <div class="row pt-3">
                        <div class="col-6">
                            <p class="category text-muted">Standard Suv</p>
                        </div>
                        <div class="col-6">
                            <div class="icons text-right">
                                <a routerLink="/admin/add-package"><i class="fas fa-eye"></i></a>
                                <a routerLink="/admin/add-package"><i class="px-4 fas fa-pencil-alt"></i></a>
                                <a><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-4">
                <img class="card-img-top" src="../../../../assets/img/1.png">
                <div class="card-body">
                    <h5 class="package">Bronze Package</h5>
                    <p class="price">Rs.1500</p>
                    <div class="row pt-3">
                        <div class="col-6">
                            <p class="category text-muted">Standard Suv</p>
                        </div>
                        <div class="col-6">
                            <div class="icons text-right">
                                <a routerLink="/admin/add-package"><i class="fas fa-eye"></i></a>
                                <a routerLink="/admin/add-package"><i class="px-4 fas fa-pencil-alt"></i></a>
                                <a><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>