<div class="service-request-details-screen py-4">
    <div class="container">
        <div class="heading">
            <h1>Service Request Details</h1>
        </div>
    
        <form class="pt-4" [formGroup]="programForm">
            <div class="form-group bg-light py-2 px-3">
                <small><label class="text-muted mb-0">Name</label></small>
                <p>Ilyas Ahmed</p>
            </div>

            <div class="form-group bg-light py-2 px-3">
                <small><label class="text-muted mb-0">Contact</label></small>
                <p>+92 333 7148980</p>
            </div>

            <div class="form-group bg-light py-2 px-3">
                <small><label class="text-muted mb-0">Car Location</label></small>
                <p>Gulistan e Jauhar Block 17, Karachi</p>
            </div>
              
            <div class="form-group bg-light py-2 px-3">
                <small><label class="text-muted mb-0">Select Category</label></small>
                <p>Compact Suv</p>
            </div>

            <div class="form-group bg-light py-2 px-3">
                <small><label class="text-muted mb-0">Select Package</label></small>
                <p>Gold Package</p>
            </div>
    
            <div class="form-group bg-light py-2 px-3">
                <small><label class="text-muted mb-0">Date & Time</label></small>
                <p>Dec 2, 2020 at 3:02 PM</p>
            </div>
            
            <div class="form-group bg-light py-2 px-3">
                <small><label class="text-muted mb-0">Payment</label></small>
                <p>Cash Payment</p>
            </div>

            <div class="form-group bg-light py-2 px-3">
                <small><label class="text-muted mb-0">Select Detailer</label></small>
                <p>Detailer 2</p>
            </div>

            <div class="btns pt-3">
                <a class="rounded-btn w-100 mt-2">Assign Now</a>
                <a class="rounded-btn w-100 mt-2">Arrived at Destination</a>
                <a class="rounded-btn w-100 mt-2">Service Done</a>
                <a class="rounded-btn w-100 mt-2">Payment Recieved</a>
            </div>
        </form>
    </div>
</div>