.rounded-btn {
    border: 1px solid $darkDefault;
    padding: 8px;
    background: $default;
    color: $white;
    border-radius: 50px;
    display: block;
    margin: auto;
    text-align: center;
}