@import '/src/styles.scss';

.add-service {
    position: relative;
}

.add-service .custom-add {
    position: fixed;
    bottom: 20px;
    right: 25px;
    background: $default;
    color: $white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 14px 21px;
}

.add-service .custom-add a {
    color: $white;
    font-size: 20px;
}