<div class="signup-screen">
	<div class="container">
		<div class="heading pt-4">
			<h1>SIGN UP</h1>
		</div>
	
		<form class="pt-4" [formGroup]="programForm">
			<div class="row">
				<div class="form-group col-md-6">
					<label>User Name</label>
					<input type="text" class="form-control" formControlName="name">
				</div>
				  
				<div class="form-group col-md-6">
					  <label>Email</label>
					  <input type="email" class="form-control" formControlName="email">
				</div>

				<div class="form-group col-md-6">
					<label>Contact</label>
					<input type="number" class="form-control" formControlName="contact">
				</div>

				<div class="form-group col-md-6">
					<label>Password</label>
					<input type="password" class="form-control" formControlName="password">
				</div>
			</div>
	
			<a *ngIf="!loader" (click)="signup()" class="rounded-btn w-100 mt-2">Sign Up</a>

			<div *ngIf="loader" class="loader">
				<img class="loading" src={{loadingImg}} />
			</div>
		</form>
		  
		<div class="social-bar pt-3">
			<div class="or">
				<p>or</p>
			</div>
	
			<div class="row justify-content-center">
				<div class="icons">
					<ul>
						<li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
						<li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="account-text pt-3 text-center">
			<span>Have an Account?</span>
			<a routerLink="/auth/login">Sign In</a> 
		</div>
	</div>
</div>