@import '/src/styles.scss';

.service-requests-screen .heading h1{
    font-size: 18px;
    color: $lightDefault;
    margin-bottom: 0px;
}

.service-requests-screen .card .icon-section {
    text-align: center;
    display: block;
    margin: auto;
}

.service-requests-screen .card .icon-section a i{
    color: $lightDefault;
}

.status {
    position: absolute;
    top: 5px;
    right: 10px;
}