<div class="service-requests-screen">
    <div class="container">
        <div class="heading pt-4">
            <h1>Service Requests</h1>
        </div>

        <div routerLink="/service-request/new-service-request" class="card mt-4">
            <div class="row card-body">
                <div class="col-10 text-section">
                    <h5 class="card-title">Bronze Package</h5>
                    <p class="card-subtitle mt-1 text-muted">Gulistan E Jauhar Block 17</p>
                    <p class="card-text text-muted"><small>12 May 2020</small></p>
                </div>
                <div class="col-2 icon-section">
                    <a>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div routerLink="/service-request/new-service-request" class="card mt-4">
            <div class="row card-body">
                <div class="col-10 text-section">
                    <h5 class="card-title">Silver Package</h5>
                    <p class="card-subtitle mt-1 text-muted">Defence View Phase 2</p>
                    <p class="card-text text-muted"><small>2 August 2020</small></p>
                </div>
                <div class="col-2 icon-section">
                    <a>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div routerLink="/service-request/new-service-request" class="card mt-4">
            <div class="row card-body">
                <div class="col-10 text-section">
                    <h5 class="card-title">Gold Package</h5>
                    <p class="card-subtitle mt-1 text-muted">Gulshan E Iqbal Block 8</p>
                    <p class="card-text text-muted"><small>16 October 2019</small></p>
                </div>
                <div class="col-2 icon-section">
                    <a>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div routerLink="/service-request/new-service-request" class="card mt-4">
            <div class="row card-body">
                <div class="col-10 text-section">
                    <h5 class="card-title">Platinum Package</h5>
                    <p class="card-subtitle mt-1 text-muted">DHA Phase 6, St. 4</p>
                    <p class="card-text text-muted"><small>11 August 2020</small></p>
                </div>
                <div class="col-2 icon-section">
                    <a>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>