<div class="service-requests-screen">
    <div class="container">
        <div class="heading pt-4">
            <h1>Service Requests</h1>
        </div>

        <div class="card mt-4" *ngFor="let item of data" routerLink="/service-request/service-request-details" [state]="{ data: item}" (click)="backEnabled()">
            <div class="row card-body">
                <div class="col-10 text-section">
                    <h5 class="card-title">{{item.package.name}}</h5>
                    <p class="card-subtitle mt-1 text-muted">
                        <i class="fas fa-map-pin pr-2"></i>
                        {{item.location}}
                    </p>
                    <p class="card-text text-muted">
                        <i class="far fa-calendar-alt pr-2"></i>
                        <small>{{item.datetime | date:'medium'}}</small>
                    </p>
                </div>
                <div class="col-2 icon-section">
                    <a><i class="fas fa-chevron-right"></i></a>
                </div>

                <div class="status text-muted">
                    <p *ngIf="item.status != 3"><i class="fas fa-hourglass-half text-warning"></i></p>
                    <p *ngIf="item.status == 3"><i class="fas fa-check-circle text-success"></i></p>
                </div>
            </div>
        </div>

        <div class="text-center pt-5" *ngIf="data.length == 0 && !somethingWrong">
            <img class="content-loading" src="assets/img/content-loading.gif" alt="Loading ..." />
        </div>

        <div class="text-center pt-5" *ngIf="data.length == 0 && somethingWrong">
            <img class="no-data" src="assets/img/no-data.png" alt="No Data" />
            <a (click)="getCategories()" class="rounded-btn w-100 mt-4">Try Again</a>
        </div>
    </div>
</div>