@import '/src/styles.scss';

.carousel-inner {
    .carousel-item {
        img {
            // width: 100%;
            height: 190px;
            object-fit: cover;
            object-position: center;
        }
    }
}