<div class="add-package-screen">
	<div class="container">
		<div class="heading pt-4">
			<h1 *ngIf="!data">Add Package</h1>
			<h1 *ngIf="data">Update Package</h1>
        </div>

        <div class="row justify-content-center my-4">
            <div class="col-6">
                <div class="add-img">
                    <input class="d-none" type="file" accept="image/*" #file (change)="uploadFile($event)">
                    <a (click)="file.click()">
                        <img *ngIf="!imageUploaded" src={{preview}}>
                        <img *ngIf="imageUploaded" src={{loading}}>
                    </a>
                </div>
            </div>
        </div>

        <form [formGroup]="programForm">
            <div class="form-group">
                <label>Package Name</label>
                <input type="text" class="form-control" formControlName="name" placeholder="Package Name">
            </div>
            <div class="form-group">
                <label>Package Price</label>
                <input type="text" class="form-control" formControlName="price" placeholder="Package Price">
            </div>
            <div class="form-group">
                <label>Categories</label>
                <select class="custom-select form-control" formControlName="category" (change)="onCategorySelect($event)">
                    <option>Select Category</option>
                    <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
                </select>
            </div>
        </form>

        <div class="add-package-btn">
            <a *ngIf="!data" (click)="addPackage()" class="rounded-btn w-100 mt-4">Add Package</a>
            <a *ngIf="data" (click)="updatePackage()" class="rounded-btn w-100 mt-4">Update Package</a>
        </div>
	</div>
</div>