<div class="add-category-screen">
	<div class="container">
		<div class="heading pt-4">
			<h1>Add Category</h1>
        </div>

        <div class="row justify-content-center my-4">
            <div class="col-6">
                <div class="add-img">
                    <form>
                        <input class="d-none" type="file" accept="image/*" #file>
                        <a (click)="file.click()"><img src="../../../../assets/img/img-upload-icon.png"></a>
                    </form>
                </div>
            </div>
        </div>

        <div class="category-input">
            <!-- <label>Category Name</label> -->
            <input type="text" class="form-control" placeholder="Category Name">
        </div>

        <div class="add-category-btn mt-4">
            <a href="#" class="rounded-btn w-100 mt-2">Add Category</a>
        </div>
	</div>
</div>