<div class="add-category-screen">
	<div class="container">
		<div class="heading pt-4">
            <h1 *ngIf="!data">Add Category</h1>
            <h1 *ngIf="data">Update Category</h1>
        </div>

        <div class="row justify-content-center my-4">
            <div class="col-6">
                <div class="add-img">
                    <form>
                        <input class="d-none" type="file" accept="image/*" #file (change)="uploadFile($event)">
                        <a (click)="file.click()">
                            <img *ngIf="!imageUploaded" src={{preview}}>
                            <img *ngIf="imageUploaded" src={{loading}}>
                        </a>
                    </form>
                </div>
            </div>
        </div>

        <form [formGroup]="programForm">
            <div class="category-input">
                <input type="text" class="form-control"  formControlName="name" placeholder="Category Name">
            </div>
        </form>

        <div class="add-category-btn mt-4">
            <a *ngIf="!data" (click)="addCategory()" class="rounded-btn w-100 mt-2">Add Category</a>
            <a *ngIf="data" (click)="updateCategory()" class="rounded-btn w-100 mt-2">Update Category</a>
        </div>
	</div>
</div>