@import '/src/styles.scss';

.add-category-screen .heading h1{
    font-size: 18px;
    color: $lightDefault;
    margin-bottom: 0px;
}

.add-category-screen .add-img img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 10px #e7e7e7;
    border-radius: 25px;
}